<!DOCTYPE html>
<html>
    <head>
        <h1>Tic Tac Toe</h1>
    </head>
    <body>
        <h2>
        <div>
        <%= render 'layouts/dropdown' %>
        </div>
        </h2>
        <h3>
        <div>
        <%= render 'layouts/board' %>
        </div>
        </h3>
        <img src="tile.png" alt="Tile">
    </body>
</html>