<!DOCTYPE html>
<% game = Game.new %>
<html>
    <head>
        <h1>Tic Tac Toe</h1>
    </head>
    <body>
        <div>
        <%= game.output %>
        <%= game.turn_count %>
        </div>
        <h2>
        <div>
        <%= render 'layouts/dropdown' %>
        </div>
        </h2>
        <h3>
        <div>
        <%= render 'layouts/board' %>
        </div>
        </h3>
        <img src="/assests/images/tile.png" alt="Tile">
    </body>
</html>