<!DOCTYPE html>
<% game = Game.new %>
<html>
    <head>
        <h1>Tic Tac Toe</h1>
    </head>
    <body>
        <%= game.output %>
        <%= game.turn_count %>
        <% input = gets.chomp.to_i %>
        <%# select :type, [ ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'] ], {}, {:class => 'form-control'} %>
    </body>
</html>