<!DOCTYPE html>
<% game = Game.new %>
<html>
    <head>
        <h1>Tic Tac Toe</h1>
    </head>
    <body>
        <%= game.output %>
        <%= game.turn_count %>
        <%= render 'layouts/dropdown' %>
    </body>
</html>