<div class="col-sm-2">
<select aria-describedby="hb_55" class="form-control" name="q_55">
<option>
1
</option>
<option>
2
</option>
<option>
3
</option>
<option>
4
</option>
<option>
5
</option>
<option>
6
</option>
<option>
7
</option>
<option>
8
</option>
<option>
9
</option>
</select>
</div>