<style>
.card {
    box-shadow: 0 16px 32px 0 rgba(100,0,0,0.5);
    transition: 0.3s;
    width: 15.5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,100,0,1);
}
</style>

<div class="card">
  <%= link_to image_tag("tile.png", alt: "Tile"), '/index' %>
</div>
